body {
    overflow-x: hidden;
}
.ui-container{
    display: grid;
    grid-template-rows:  64px 1fr 160px;
    grid-template-areas: 
      "t"
      "m"
      "f";
    width: 100%;
    height: 100%

}
.title {
    grid-area: t;
    grid-template-columns: 170px 1fr 120px 110px 90px 80px;
    display: grid;

}
.title > .logo{   
    background: #252525;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo-container{
    width: 120px;
    height: 34px;
    background: #252525;
    text-align: center;
}

.title > .space{   
    background: #252525;
}
.title > .instrument{
    color:#cccccc;
    background: #252525;
    text-align: center;
    padding-top: 20px;
}

.title > .tuning{
    color:#cccccc;
    background: #252525;
    text-align: center;
    padding-top: 20px;

}
.title > .debug{
    color:#cccccc;
    background: #252525;
    text-align: center;
    padding-top: 20px;

}
.title > .quit{
    color:#cccccc;
    background: #252525;
    text-align: center;
    padding-top: 20px;
  
}
.title > .profile{
    background: #252525;
    text-align: center;
    padding-top: 18px;
   
}
.profile-container{
    height: 30px;
    background: #252525;
    text-align: center;
}
.mid {
    grid-area: m;
    grid-template-areas: 
      ". a .";
    grid-template-columns:1fr 5fr 1fr;
    display: grid;
    background: #000000;
}
.mid > .video{
    grid-area: a;
    background: #ffffff;
    /* position: relative; */
    height: auto;
    width: 100%; 
    padding-bottom: 56%;
}

.footer{
    grid-area: f;
    background: #252525;
    text-align: center;
    height: 160px;
}
.footer > div > #svg-object {
    padding-top: 10px;
}

.instrument:hover{
    color: #E99415
}

.tuning:hover{
    color: #E99415
}
.debug:hover{
    color: #E99415
}
.quit:hover{
    color: #E99415
    
}  
.instrument{cursor: pointer; }
.tuning{cursor: pointer; }
.debug{cursor: pointer; }
.quit{cursor: pointer; }

.debugger {
    position:fixed; top:50%; left:50%;
    background: #252525;
}
.debugger {
    color: #cccccc;
    text-align: center;
    padding-top: 15px;
    position:fixed; top:50%; left:50%;
    background: #252525;
    border: 4px #cccccc;
    border-radius: 10px;
    width: 250px;
    height: 160px;
    margin-top: -80px;     /*高度的一半*/
    margin-left: -125px;    /*寬度的一半*/
}
.debugger > input[type=button] {
    background-color: #505050;
    border: none;
    color: #cccccc;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 3px;
    cursor: pointer;
}
.debugger > p > .textarea {
    color: #cccccc;
    background-color: #505050;
    border: 1px #cccccc;
    border-radius: 4px;
    padding: 3px 4px;
    box-sizing: border-box;
}
