#container {
    position: relative;
    padding: 0;
    margin: auto;
    display: block;
}

#container canvas, #pressPoint {
    position: absolute;
}

canvas {
    border: 1px solid black;
    box-sizing: border-box;
    border-left-width: 10px;
    /* display: block; */
    margin: 0 auto;
    position:relative;
}

#title {
    text-align: center;
}

#pressPointContainer {
    width: inherit;
    padding-left: 10px;
}

#pressPoint {
    border-radius: 50%;
    margin: 1px;
    vertical-align: top;
    position: relative;
    display: inline-table;
}

.press {
    background-color: blue;
}

.unpress {
    background-color: transparent;
}
